:root {
    --primary-color-font: #212121;
    --second-color-font: #2196F3;
    --color-logo: #000000;
    --paragraph-color-font: #757575;
    --hero-color-font: #FFFFFF;
    --footer-color-font: rgba(255, 255, 255, 0.6);
    --hero-footer-color: #2F303A;
    --comand-color: #F5F4FA;

    --primary-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
}


/* =====Home work # 3===== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
    min-height: 32px;
}

.hero-padding {
    padding-top: 200px;
    padding-bottom: 30px;
}

.hero-title {
    display: block;
    text-align: center;
}

.btn-box {
    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    margin-bottom: 200px;
}

.navigation-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    min-height: 32px;
}

.logo-margin {
    margin-right: 93px;
  }

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}


.contact-number {
    min-height: 30px;
    margin-left: 40px;
}

.logo-footer {
    display: inline-block;
    padding-top: 60px;
    padding-bottom: 28px;
}

.address-footer {
    padding-bottom: 60px;
}

.buzy-flex {
    display: flex;
    flex-wrap: wrap;  
}

.buzy-flex > .item {
    /* justify-content: space-between;  */
    flex-basis: calc((100% - 30px*3) / 4);
}

.buzy-flex > .item:not(:nth-child(4n)) {
    margin-right: 30px;
}

/* .buzy-flex > .item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
} */

/* .buzy-img {
    display: block;
} */

.photo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.photo > .photo-buzy {
    flex-basis: calc((100% - 30px*2) / 3);
    margin-bottom: 30px;
}

.photo > .photo-buzy:not(:nth-child(3n)) {
    margin-right: 30px;
}



/* =====Home work # 3===== */



.list {
    list-style: none;
}

.link {
    text-decoration: none;
  }

.body {
    color: var(--primary-color-font);

    font-family: var(--primary-font);
}

/* Navigation */


.logo {
    color: var(--color-logo);
}

.logo-part,
.current {
    color: var(--second-color-font);

}

.logo,
.logo-part {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.nav-text {
    color: var(--primary-color-font);
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--second-color-font);
    cursor: pointer;
}

.nav-base-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail-tel-text,
.paragraph-text {
    color: var(--paragraph-color-font);
}

.hero-color-text,
.logo-second,
.text-addres {
    color: var(--hero-color-font);
}

.header-bg-color,
.section-buzy-bg-color,
.pesron-bg-color,
.portfolio-bg-color,
.portfolio-fon {
    background-color: var(--hero-color-font);
}


.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    background-color: var(--second-color-font);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.nav-text,
.mail-tel-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero-color,
.footer-color {
    background-color: var(--hero-footer-color);
}


/* Main */

.description-buzy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    /* padding-bottom: 194px; */
}

.description-profeshion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.name-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-h-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    padding-top: 94px;
    padding-bottom: 50px;
}

.main-buzy {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-top: 94px;
    margin-bottom: 10px;
}

.comand-bg-color {
    background-color: var(--comand-color);
}

/* Portfolio page*/
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--second-color-font);
    cursor: pointer;
}

/* Footer */

.mail-tel-footer {
    color: var(--footer-color-font);
}

.text-addres,
.mail-tel-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*================*/
/* Portfolio page */

.portfolio-btn {
    color: var(--primary-color-font);
    background-color: var(--comand-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--second-color-font);
    color: var(--hero-color-font);
    cursor: pointer;
}

.portfolio-names {
    color: var(--primary-color-font);

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-names-upper {
    text-transform: uppercase;
}

.portfolio-discr {
    color: var(--paragraph-color-font);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;     
}